.App {
  height: 100%;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/*
font-family: 'Cute Font', cursive;
font-family: 'DM Mono', monospace;
font-family: 'DM Sans', sans-serif;
font-family: 'DotGothic16', sans-serif;
font-family: 'Gayathri', sans-serif;
font-family: 'Great Vibes', cursive;
font-family: 'JetBrains Mono', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Trispace', sans-serif;
font-family: 'Zen Dots', cursive;
*/

.title {
  padding: 1rem;
  font-weight: 900;

  font-family: "JetBrains Mono", monospace;
  font-family: "Roboto", sans-serif;
  font-family: "DotGothic16", sans-serif;
  font-family: "Gayathri", sans-serif;
  font-family: "Great Vibes", cursive;
  font-family: "Trispace", sans-serif;
  font-family: "DM Mono", monospace;
  font-family: "Petit Formal Script", cursive;
  font-family: "Roboto", sans-serif;
}
