/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Cute+Font&family=DM+Mono:wght@300;400;500&family=DM+Sans:wght@400;500&family=DotGothic16&family=Gayathri:wght@100;400;700&family=JetBrains+Mono:wght@100;200;300;400&family=Petit+Formal+Script&family=Roboto:wght@100;300;400;500&family=Trispace:wght@100;200;300;400&family=Zen+Dots&display=swap");
/*
font-family: 'Cute Font', cursive;
font-family: 'DM Mono', monospace;
font-family: 'DM Sans', sans-serif;
font-family: 'DotGothic16', sans-serif;
font-family: 'Gayathri', sans-serif;
font-family: 'Great Vibes', cursive;
font-family: 'JetBrains Mono', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Trispace', sans-serif;
font-family: 'Zen Dots', cursive;
font-family: 'Petit Formal Script', cursive;
*/
/* RESETS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
  font-family: "Zen Dots", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Gayathri", sans-serif;
  font-family: "JetBrains Mono", monospace;

  font-family: "DM Sans", sans-serif;
  font-family: "DM Mono", monospace;
  text-shadow: 2.5px 2.2px 0px #ce5937;

  font-family: "Trispace", sans-serif;
}
h1 {
  font-size: calc(1rem + 1.8vw);
}
h2 {
  font-size: calc(1rem + 1.5vw);
}
h3 {
  font-size: calc(1rem + 1.1vw);
}
h4 {
  font-size: calc(1rem + 0.7vw);
}
h5 {
  font-size: calc(1rem + 0.4vw);
}
h6 {
  font-size: calc(1rem + 0.1vw);
}

p,
div,
main,
aside {
  font-size: calc(1rem + 0.001vw);
}

html {
  font-size: calc(16px + 1vw);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
body {
  margin: 0;
  box-sizing: border-box;
  background-color: #0c0910;
  color: #dfd3c0;
}

code {
  font-family: "Fira Code", monospace;
}

/*
@media screen and (min-width: 1024px) {
  aside,
  main {
    width: 50%;
  }

  footer {
    height: 300px;
  }
}

@media screen and (min-width: 1224px) {
  aside {
    width: 30%;
  }
  main {
    width: 70%;
  }
}
*/
